@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

.location-and-date {
  grid-row: 2 / 3;
  grid-column: 2 / 7;
  max-height: 5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Sanchez", serif;
}

.location-and-date h1 {
  font-size: 1.125rem;
}

.location-and-date p {
  font-size: 0.75rem;
}
