.hamburger-container {
  grid-row: 2 / 3;
  grid-column: 2;
  margin-top: 2em;

  height: 22px;
  width: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;
}

.hamburger-line {
  min-width: 100%;
  height: 1px;

  border: 1px solid var(--text-primary);
}

.menu {
  position: absolute;
  top: 4em;
  left: -320px;
  z-index: 9;

  width: 300px;
  height: 250px;
  padding-top: 1em;

  display: grid;
  justify-items: center;
  align-items: center;

  border: 2px solid var(--text-primary);
  border-radius: 0 15px 15px 0;
  border-left: none;

  background-color: var(--bg-secondary);
  transition: all 0.35s linear;
}

.menu.open {
  left: 0;
  box-shadow: 5px 5px 5px black;
}

.search-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125em;
}

.search-box {
  min-width: 200px;
  height: 2.5em;
  background-color: white;
  border-radius: 15px;
  padding: 0.5em;
  font-size: 1rem;
}
